body {
  margin: 0;
  background: black;
}

svg text {
  pointer-events: none;
  font-family: sans-serif;
  font-size: 10px;
  text-anchor: middle;
}

.link line {
  stroke: #777;
}

.link.marriage line {
  stroke-width: 3;
}

.link text {
  fill: #ccc;
}

.node text {
  fill: #fff;
}
